<h1><%= @group.name %></h1>

<% content_for :nav do %>
<li><%= link_to "Settings", edit_group_user_path(@group.id, current_user.id)  %></li>
<% end %>

<% if current_user.email.nil? %>
	<%= "You should add your email address in the settings page." %>
<% end %>

<%= render 'group_nav' %>

<h3>Group Members</h3>
<ul id="users-list">
	<% @group.users.each do |user| %>
		<li class="user-entry">
			<%= user.name %><br>
			<%= image_tag(user.image, :size => "100x133") %><br>
			<% if !user.posts.last.nil? %>
				<%= link_to user.posts.last.title, user.posts.last.url, target: "_blank" %>
			<% else %>
				<p>hasn't posted yet.</p>
			<% end %>
		</li>
<% end %>
</ul>