<!DOCTYPE html>
<html>
  <head>
    <title>Weekly Trim</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
		<%= javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js", "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>

    <div class="container-narrow">
			
			<div class="masthead">
				<img src="http://i.imgur.com/TkW9SVO.png" style="max-width:400px;">
      </div>

      <hr>

      <div class="jumbotron" style="text-align: center;">
        <h1>Filter through the noise.</h1>
        <p class="lead">Weekly Trim is a space where friends and colleagues can share one thing that they find interesting on the web each week.</p><br/>
				<a class="btn btn-large btn-primary" href="/auth/twitter">Login with Twitter</a>
      </div>
      <hr>
    </div>
  </body>
</html>