<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Weekly Trim", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Post",    '#' %></li>
					<li class="dropdown" id="admin_menu">
				    <a class="dropdown-toggle" data-toggle="dropdown">
				      My Groups
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
							<% if current_user.groups.count == 0 %>
								<li><%= link_to "Create group", '#' %></li>
							<% else %>
				      	<% current_user.groups.each do |group| %>
				          <li><a href="#"><%= group.name %></a></li>
				      	<% end %>
							<% end %>
				    </ul>
				  </li>
					<% if current_user %>
          	<li><%= link_to "Sign out", signout_path %></li>
					<% else %>
						<li><%= link_to "Sign in", '#' %></li>
					<% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>


