<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Weekly Trim", '#', id: "logo" %>
 			<nav>
	 			<ul class="nav pull-right">
			<% if current_user %>
          <li><%= link_to "Post",    '#' %></li>
					<li class="dropdown" id="admin_menu">
				    <a class="dropdown-toggle" data-toggle="dropdown">
				      My Groups
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
								<li><%= link_to "Create group", new_group_path %></li>
				      	<% current_user.groups.each do |group| %>
									<li><%= link_to group.name, group_path(group.id) %></li>
				      	<% end %>
				    </ul>
				  </li>
          <li><%= link_to "Sign out", signout_path %></li>
					<% else %>
						<li><%= link_to "Sign in", root_path %></li>
					<% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>


